body {
  font-family: "TT Lakes";
  margin: 0;
  background-color: #f8f8f8;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Regular.ttf);
}

/* Адаптив */
@media (min-width: 1120px) {
  .container {
    width: auto;
  }
  header {
    visibility: hidden;
    margin-top: 18px;
  }
  .container__button3 {
    visibility: visible;
  }
  .container__button4 {
    visibility: visible;
    margin-left: 160px;
  }
  .container__button3::before {
    content: "Оставить заявку";
    display: inline-block;
    width: 125px;
    height: 24px;
    margin-top: 10px;
    margin-left: -135px;

    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
  .container__button4::before {
    content: "Статус ремонта";
    display: inline-block;
    width: 125px;
    height: 24px;
    margin-top: 10px;
    margin-left: -135px;

    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
  main {
    margin: -84px 32px 32px 32px;
  }
  .container3 {
    width: 490px;
    margin: 0 32px 32px 32px;
  }
  .container4 {
    width: 500px;
    margin: 16px 32px 32px 32px;
  }
  .image {
    border-radius: 6px;
  }
  .container5 {
    height: 160px;
  }
}

@media (max-width: 1119px) {
  .container {
    width: auto;
  }
  main {
    margin: 0 24px 0 24px;
  }
  .container3 {
    width: 305px;
    margin: 0 24px 24px 24px;
  }
  .container4 {
    width: 360px;
    margin: 16px 24px 24px 24px;
  }
  .image {
    border-radius: 6px;
  }
  .container5 {
    height: 160px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .container__button1 {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .container {
    width: auto;
  }
  .container__button5 {
    visibility: hidden;
    position: absolute;
  }
  .container__button6 {
    visibility: hidden;
    position: absolute;
  }
  .container__button7 {
    visibility: hidden;
    position: absolute;
  }
  .container__divider {
    visibility: hidden;
    position: absolute;
  }
  .container__button1 {
    margin-right: 16px;
    margin-left: 16px;
  }
  main {
    margin: 16px 16px 0 16px;
  }
  .container3 {
    margin: 0 16px 0 16px;
    width: 280px;
  }
  .container4 {
    width: 320px;
    margin: 16px 0 0 0;
  }
  .image {
    border-radius: 0px;
  }
  .container5 {
    height: 108px;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

@media (max-width: 319px) {
  .container {
    max-width: none;
  }
}

/* Шапка */
header {
  min-height: 88px;
  min-width: 320px;
  width: auto;

  background-color: #ffffff;
  box-shadow: 0 0 0 1px #d9fff5;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 88px;
}
.container__menu {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-left: -40px;
}
.container__menu2 {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-left: -40px;
}
.container__menu li {
  display: block;
}
.container__menu2 li {
  display: block;
}
.container__button1 {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border: none;
  background-color: inherit;
  background: url(images/burger.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.container__divider {
  content: "";
  width: 2px;
  height: 32px;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #eaeaea;
}
.container__button2 {
  display: block;
  width: 97px;
  height: 52px;
  margin-top: 4px;

  background-image: url(images/Group.png);
}
.container__button3 {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-top: 8px;
  background-image: url(images/repair.png);
}
.container__button4 {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 16px;
  background-image: url(images/checkstatus.png);
}
.container__divider2 {
  content: "";
  width: 2px;
  height: 32px;
  margin-top: 12px;
  margin-right: 20px;
  background-color: #eaeaea;
}
.container__button5 {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 20px;
  background-image: url(images/profile.png);
}
.container__button6 {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 16px;
  background-image: url(images/chat.png);
}
.container__button7 {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 16px;
  background-image: url(images/call.png);
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
}
h1::before {
  content: "";
  display: block;
  width: 8px;
  height: 40px;
  position: absolute;
  left: -4px;
  border-radius: 4px;

  background-color: #41f6d7;
}

/* Меню */
.container2 {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
.container2__nav-block {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  margin-left: -40px;
}
.container2__nav-block::-webkit-scrollbar {
  display: none;
}
.container2__nav-block li {
  display: block;
}
.container2__button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  padding: 8px;
  border: 2px solid transparent;
  color: #7e7e82;
  width: auto;
  height: 40px;
  margin-right: 6px;
}
.container2__button:focus {
  width: auto;
  height: 40px;
  padding: 8px;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #ffffff;
}

/* Кнопка "Читать далее"*/
.container3__button-more {
  width: 140px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  border: 0;
  background-color: inherit;
}
.container3__button-more::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  padding-left: 20px;
  background: url(images/icon.png) no-repeat;
}

/* Тектс и картинка*/
.container-inf {
  max-width: 1120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
p {
  font-size: 14px;
}
.container3 {
  min-width: 280px;
}

.container4 {
  min-width: 320px;
}

.image {
  width: 100%;
}
